config.py
.ipynb_checkpoints/
data/
.vscode/
__pycache__/
scratch.py
new_load.py
target.json
*.json
.pytest_cache/
Anaconda-1.4.0-Linux-x86_64.sh
app2.py
bordershop
error_log_legacy_scraper.txt
error_log_updater.txt
legacy_fixer.py
legacy_map.csv
time_fixer.py
vis_test.py
old_loader.py
test.ipynb
*.ipynb
todo.txt